:root {
    --icon-font-family: "webfont";
    --icon-content-facebook: "\e001";
    --icon-content-google-inverted: "\e002";
    --icon-content-google: "\e003";
    --icon-content-instagram-inverted: "\e004";
    --icon-content-instagram: "\e005";
    --icon-content-linkedin: "\e006";
    --icon-content-pinterest: "\e007";
}
@font-face {
    font-family: "webfont";
    font-display: swap;
    src: url("./webfont.eot?v=61e6073ad9cb366c3ed65b");
    src: url("./webfont.eot?v=61e6073ad9cb366c3ed65b#iefix") format("embedded-opentype"),
        url("./webfont.woff?v=61e6073ad9cb366c3ed65b") format("woff"),
        url("./webfont.ttf?v=61e6073ad9cb366c3ed65b") format("truetype"),
        url("./webfont.svg?v=61e6073ad9cb366c3ed65b#webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "webfont";
        font-display: swap;
        src: url("./webfont.svg?v=61e6073ad9cb366c3ed65b#webfont") format("svg");
    }
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: webfont !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
    content: attr(data-icon);
}

.icon-facebook:before { content: "\e001"}
.icon-google-inverted:before { content: "\e002"}
.icon-google:before { content: "\e003"}
.icon-instagram-inverted:before { content: "\e004"}
.icon-instagram:before { content: "\e005"}
.icon-linkedin:before { content: "\e006"}
.icon-pinterest:before { content: "\e007"}
